.header {
  height: 64px;
  color: white;
  display: flex;
  border: auto;
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;

  padding: 0 24px;
}
.headerpages {
  height: 64px;
  background: #00070e;
  color: rgb(246, 246, 246);
  border: auto;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
}

.leftpages {
  display: flex;
  color: rgb(246, 246, 246);
  border: auto;
  align-items: center;
  gap: 30px;
}

.home {
  color: #f6f8f9;
  border: none;
  padding: 8px 12px;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
}

.home:hover {
  background:#f3f4f5;
  border: none;
  font-size: 20px;
  border-radius:8px ;
  padding: 4px 10px;
  color: #000206;
}

.title {
  color: black;
  font-size: 30px;
  font-weight: 500;
}

.left {
  display: flex;
  align-items: center;
  gap: 30px;
}

.logo {
  height: 60px;
  border: circle;
  border-radius: 8px;
}

.menu {
  display: flex;
  gap: 24px;
}

.menu a {
  color: #cbd5e1;
  text-decoration: none;
  font-size: 15px;
}

.menu a:hover {
  color: white;
}

.right {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 18px;
}

.login {
  color: #00070e;
  border: none;
  padding: 8px 12px;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
}

.login:hover {
  background:#00060c;
  border: none;
  border-radius:8px ;
  padding: 4px 10px;
  color: #f0f1f3;
}

.register {
  background: #5a75a0;
  border: none;
  font-size: 15px;
  text-decoration: none;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
}

.register:hover {
  background: rgb(14, 20, 59);
}
